.DS_Store
.idea
.vscode
.envrc
/navidrome
/iTunes*.xml
/tmp
data/*
vendor/*/
wiki
TODO.md
var
navidrome.toml
master.zip
testDB
navidrome.db
*.swp
embedded_gen.go
dist
music
docker-compose.yml
navidrome.db-shm
navidrome.db-wal
tags
.gitinfo
