.DS_Store
.idea
.vscode
.envrc
/navidrome
/iTunes*.xml
/tmp
data/*
vendor/*/
wiki
TODO.md
var
navidrome.toml
master.zip
testDB
navidrome.db
cache/*
*.swp
embedded_gen.go
dist
music
navidrome.db-shm
navidrome.db-wal
tags
.gitinfo
docker-compose.yml
!contrib/docker-compose.yml
test-123.db
