.DS_Store
.idea
.vscode
.envrc
/navidrome
/iTunes*.xml
/tmp
data/*
vendor/*/
wiki
TODO.md
var
navidrome.toml
!release/linux/navidrome.toml
master.zip
testDB
cache/*
*.swp
dist
music
*.db*
.gitinfo
docker-compose.yml
!contrib/docker-compose.yml
binaries
navidrome-master
*.exe