* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-content {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0;
}

.RaLayout-contentWithSidebar-13 {
  max-height: 92vh; /* 100vh - height of appBar */
  padding-bottom: 5px;
}
